<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pedido-heading" data-cy="PedidoCreateUpdateHeading" jhiTranslate="jhipsterapp1App.pedido.home.createOrEditLabel">
        Criar ou editar Pedido
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterapp1App.pedido.dataPedido" for="field_dataPedido">Data Pedido</label>
          <div class="d-flex">
            <input
              id="field_dataPedido"
              data-cy="dataPedido"
              type="datetime-local"
              class="form-control"
              name="dataPedido"
              formControlName="dataPedido"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterapp1App.pedido.valorPedido" for="field_valorPedido">Valor Pedido</label>
          <input
            type="number"
            class="form-control"
            name="valorPedido"
            id="field_valorPedido"
            data-cy="valorPedido"
            formControlName="valorPedido"
          />
          <div *ngIf="editForm.get('valorPedido')!.invalid && (editForm.get('valorPedido')!.dirty || editForm.get('valorPedido')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('valorPedido')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('valorPedido')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo é do tipo numérico.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
