<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="festa">
      <h2 data-cy="festaDetailsHeading"><span jhiTranslate="jhipsterapp1App.festa.detail.title">Festa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ festa.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterapp1App.festa.nome">Nome</span></dt>
        <dd>
          <span>{{ festa.nome }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterapp1App.festa.tema">Tema</span></dt>
        <dd>
          <span>{{ festa.tema }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterapp1App.festa.valor">Valor</span></dt>
        <dd>
          <span>{{ festa.valor }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterapp1App.festa.tipoFesta">Tipo Festa</span></dt>
        <dd>
          <div *ngIf="festa.tipoFesta">
            <a [routerLink]="['/tipo-festa', festa.tipoFesta.id, 'view']">{{ festa.tipoFesta.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterapp1App.festa.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="festa.cliente">
            <a [routerLink]="['/cliente', festa.cliente.id, 'view']">{{ festa.cliente.cpf }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/festa', festa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
