<div>
  <h2 id="page-heading" data-cy="TipoFestaHeading">
    <span jhiTranslate="jhipsterapp1App.tipoFesta.home.title">Tipo Festas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="jhipsterapp1App.tipoFesta.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tipo-festa"
        [routerLink]="['/tipo-festa/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="jhipsterapp1App.tipoFesta.home.createLabel">Criar novo Tipo Festa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (tipoFestas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterapp1App.tipoFesta.home.notFound">Nenhum Tipo Festa encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="jhipsterapp1App.tipoFesta.nome">Nome</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="jhipsterapp1App.tipoFesta.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tipoFesta of tipoFestas(); track trackId(tipoFesta)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tipo-festa', tipoFesta.id, 'view']">{{ tipoFesta.id }}</a>
              </td>
              <td>{{ tipoFesta.nome }}</td>
              <td>{{ tipoFesta.descricao }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tipo-festa', tipoFesta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/tipo-festa', tipoFesta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(tipoFesta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
